@page
@model OdhApiCore.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ODH Api Core</title>
</head>
<body>
    <p>ODH Api Core Api</p>
</body>
</html>
