@page
@model OdhApiCore.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Opendatahub Tourism Api</title>
</head>
<body>
    <p>Welcome to the opendatahub Tourism.api</p>
    <a href="/v1">Tourism Api Starting Point</a>
</body>
</html>
